/* Tahoma font imported */
@font-face {
	font-family: Tahoma;
	src: url(tahoma.ttf);
}

@font-face {
	font-family: Tahoma;
	src: url(tahomabd.ttf);
	font-weight: bold;
}




/*********************** Global settings ***********************/
* {
	font-family: Tahoma;
	text-decoration: none;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	color: #333;
}

img {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 15px;
}

html, body {
    overflow-x: hidden;
    position: relative;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
    height: 100%;
}

body {
	margin: 0px;
	background-color: #f6e2c8;
	overflow-x: hidden;
	max-width: 100%;
}

a {
	color: #333;
	opacity: 1.0;
	transition: .5s;
}

a:hover {
	opacity: 0.5;
}




.heading {
	width: 800px;
	margin: 0 auto;
	padding-left: 120px;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
            transform: scale(0.8);
}

.me {
	display: inline-block;
	height: 250px;
}

.me img {
	border-radius: 50%;
	margin: -40px 40px 0px 0px;
	height: 200px;
	opacity: 0.96;
	background-color: #669969;
}



.wrap {
	width: 850px;
	text-align: center;
	margin: 0 auto;
	margin-top: -185px;
    -webkit-transform: scale(0.67);
       -moz-transform: scale(0.67);
            transform: scale(0.67);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.container {
	width: 850px;
	text-align: center;
	margin: 0 auto;
	margin-top: -185px;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 20px;
    -webkit-transform: scale(0.67);
       -moz-transform: scale(0.67);
            transform: scale(0.67);
}

.container-medium {
	width: 675px;
	text-align: center;
	margin: 0 auto;
	margin-top: -185px;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 20px;
}

.container-small {
	width: 450px;
	text-align: center;
	margin: 0 auto;
	margin-top: -175px;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 20px;
}

.container-smallest {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	margin-top: -165px;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 20px;
}

.project {
	text-align: left;
	margin: -10px 0px 0px 0px;
}

.project img {
	display: inline-block;
	width: 340px;
	float: right;
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 14px 5px rgba(0,0,0,0.005);
	box-shadow: 0px 3px 13px 5px rgba(0,0,0,0.005);
}


.link-button {
	background-color: #669969;
	border-radius: 50%;
	color: white;
	padding: 12px;
	width: 25px;
	height: 25px;
	opacity: 1.0;
	transition: .5s;
	display: inline-block;
}

.link-button:hover {
	opacity: 0.5;
}

.link-button img {
	-webkit-filter: invert(1);
	filter: invert(1);
	width: 25px;
	height: 25px;
}

.link-box {
	border-radius: 5px;
	padding: 12px; 
	width: 100px;
	font-size: 19px;
	background-color: #669969;
	color: white;
	display: inline-block;
}





/** Screen size adjustments for various platforms (desktop/mobile) **/
@media (min-width: 858px) {
    a {
        font-size: 14px;
    }
}
 
@media (min-width: 780px) {
    a {
        font-size: 14px;
    }
}
 
@media (min-width: 702px) {
    a {
        font-size: 14px;
    }
}
 
@media (min-width: 624px) {
    a {
        font-size: 14px;
    }
}
 
@media (max-width: 623px) {
    a {
        font-size: 14px;
    }
}
